<h1>test some more</h1>

Initial author: <%= current_page.original_author.name %>

Github profile: <%= current_page.original_author.profile.html_url %>

Authors: <%= current_page.authors.map(&:name).join(", ")%>

Contributors: <%= current_page.contributors.map(&:name).join(", ")%>

Page Info: <%= current_page.page_info.name %>

Edit URL: <%= current_page.edit_url %>